body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image:url(imagens/fundo01.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Estilo para o container principal */
div {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* Estilo para títulos */
h1, h2 {
    color: #181818;
}

/* Estilo para linhas horizontais */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Estilo para links */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para listas */
ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para a figura */
figure {
    text-align: center;
}

/* Estilo para a imagem */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

